.example-container {
    width: 99%;
    height: 300px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .category-container
  {
    display: flex;
    flex-direction: column;
  }